{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.garmin/fit {:mvn/version "21.141.0"} ; Using a recent version
        http-kit/http-kit {:mvn/version "2.7.0"}
        metosin/reitit {:mvn/version "0.7.2"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        cheshire/cheshire {:mvn/version "5.13.0"}}
 :aliases {:run {:main-opts ["-m" "cycling-metrics.core"]}}}
